
@{
    ViewData["Title"] = "_ModalScriptInit";
}

@model string
<p hidden id="check">@Model</p>
<script type="text/javascript">
    $(function () {

     
        var placeholderElement = $('#modal-placeholder');

        $(document).on('click', 'button[data-toggle="ajax-modal"]', function (event) {
            var url = $(this).data('url')
            $.get(url).done(function (data) {
                placeholderElement.html(data);
                placeholderElement.find('.modal').modal('show');
            });
        });

        placeholderElement.on('click', '[data-save="modal"]', function (event) {
            event.preventDefault();

            var form = $(this).parents('.modal').find('form');
            var fail = false;
            var fail_log = '';
            var name;
            $(form).find('select, textarea, input').each(function () {
                if (!$(this).prop('required')) {

                } else {
                    if (!$(this).val()) {
                        fail = true;
                        $(this).css("border","2px solid red");
                    }

                }
            });

            //submit if fail never got set to true
            if (!fail) {
                var actionUrl = form.attr('action');
            var dataToSend = new FormData(form.get(0));

            if ($(this).data('action') != undefined) {
                actionUrl = actionUrl + $(this).data('action');
            }

            var count = 0;
            $.ajax({
                url: actionUrl, method: 'post', data: dataToSend, processData: false, contentType: false, async: true, beforeSend: function () {
                    $('#check-loading').show();

                }
            }).done(function (data) {
                count = -1;
                var newBody = $('.modal-body', data);
                placeholderElement.find('.modal-body').replaceWith(newBody);

                var isValid = newBody.find('[name="IsValid"]').val() === 'True';

                if (actionUrl.includes("Delete") && data != null) isValid = true;
                if (actionUrl.includes("Detail") && data != null) isValid = true;
                if (actionUrl.includes("Create") && data != null) isValid = true;
                if (actionUrl.includes("Create2") && data != null) isValid = true;
                if (actionUrl.includes("AddRole") && data != null) isValid = true;
                if (actionUrl.includes("ResetPassword") && data != null) isValid = true;
                if (actionUrl.includes("SendPrincipal") && data != null) isValid = true;
                if (actionUrl.includes("SendFactory") && data != null) isValid = true;
                if (actionUrl.includes("ImportList") && data != null) isValid = true;
                if (actionUrl.includes("SendTech") && data != null) isValid = true;
                if (actionUrl.includes("SendEmail") && data != null) isValid = true;
                if (actionUrl.includes("Danhgia") && data != null) isValid = true;
                if (actionUrl.includes("UploadFile") && data != null) isValid = true;
                if (actionUrl.includes("SetFinish") && data != null) isValid = true;
                if (actionUrl.includes("Khoiphuc") && data != null) isValid = true;
                if (actionUrl.includes("Danhgia") && data != null) isValid = true;
                if (actionUrl.includes("GetWorkProgress") && data != null) isValid = true;
                if (actionUrl.includes("CreateQuick") && data != null) isValid = true;
                if (actionUrl.includes("CreateWorkAsign") && data != null) isValid = true;
                if (isValid) {

                    var notificationsPlaceholder = $('#notification');
                    var notificationsUrl = notificationsPlaceholder.data('url');
                    $.get(notificationsUrl).done(function (notifications) {
                        notificationsPlaceholder.html(notifications);

                        $(".alert-primary").fadeTo(1500, 500).slideUp(500, function () {
                            $(".alert-primary").alert('close');
                        });
                    });

                    var tableElement = $('#@Model');
                    var tableUrl = tableElement.data('url');
                    $.get(tableUrl).done(function (table) {
                        tableElement.DataTable().destroy();
                        tableElement.html(table);
                        tableElement.DataTable({
                            "dom": '<"top"flp>',
                            fixedHeader: {
                                header: true
                            },
                           "order": [[1, "desc"]],
                            "language": {
                                "lengthMenu": "Hiển thị _MENU_ dòng trên một trang",
                                "zeroRecords": "Không có bản ghi nào",
                                "info": "Trang _PAGE_ trên _PAGES_",
                                "infoEmpty": "Không có bản ghi nào",
                                "infoFiltered": "(Kết quả trả về được duyệt trên tổng _MAX_ bản ghi)",
                                "search": "Tìm kiếm:",
                                "paginate": {
                                    "first": "Về đầu",
                                    "last": "Đến cuối",
                                    "next": "Tiếp",
                                    "previous": "Trước"
                                },
                            },
                            "pageLength": 20,
                        });
                        $(".dataTables_filter input").unbind();
                        $(".dataTables_filter input").bind('keyup', function (e) {
                            if (e.keyCode == 13) {
                                tableElement.DataTable().search(this.value).draw();
                            }
                        });
                    });

                    placeholderElement.find('.modal').modal('hide');
                }//
            });
            } else {
                alert("Yêu cầu nhập đủ các trường bắt buộc");
            }

        });
    });

</script>

