@model Gcndkkd
<div class="modal fade p-0" id="order-modal ">
    <div class="modal-xl modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-danger font-weight-bold text-uppercase">Hủy chứng chỉ số: @Model.So</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form asp-action="Delete">
                <h2 class="text-primary text-center font-weight-bold">Xác nhận hủy chứng chỉ này</h2>
                <h6 class="text-danger text-center font-italic">(Không thể hoàn tác)</h6>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Thoát</button>
                    <button type="button" class="btn btn-primary" data-save="modal">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>
