@model HD_proj.Models.ResetPassword


<div class="modal fade" id="delete-model" tabindex="-1" role="dialog" aria-labelledby="reset-model-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body form-horizontal">
                <form method="post" asp-action="ResetPassword" enctype="multipart/form-data">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="row">
                        <input asp-for="Email" hidden class="form-control" readonly />
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" required />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                <input asp-for="ConfirmPassword" class="form-control" required />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <button type="button" localize-content class="btn btn-secondary col-2 ml-auto mr-2" data-dismiss="modal">Thoát</button>
                        <button type="button" localize-content class="btn btn-danger col-2 mr-3" data-save="modal">Sửa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $('#delete-model').on('shown.bs.modal', function() { $('form').find('input[type=text],textarea,select').filter(':visible:first').trigger('focus'); });
</script>

@await Html.PartialAsync("_ValidationScriptsPartial")