@model HD_proj.Models.Cchn

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cchn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="So" class="control-label"></label>
                <input asp-for="So" class="form-control" />
                <span asp-validation-for="So" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaycap" class="control-label"></label>
                <input asp-for="Ngaycap" class="form-control" />
                <span asp-validation-for="Ngaycap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loai" class="control-label"></label>
                <input asp-for="Loai" class="form-control" />
                <span asp-validation-for="Loai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trinhdo" class="control-label"></label>
                <input asp-for="Trinhdo" class="form-control" />
                <span asp-validation-for="Trinhdo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phamvi" class="control-label"></label>
                <input asp-for="Phamvi" class="form-control" />
                <span asp-validation-for="Phamvi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hinhthuccap" class="control-label"></label>
                <input asp-for="Hinhthuccap" class="form-control" />
                <span asp-validation-for="Hinhthuccap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngayhieuluc" class="control-label"></label>
                <input asp-for="Ngayhieuluc" class="form-control" />
                <span asp-validation-for="Ngayhieuluc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trangthai" class="control-label"></label>
                <select asp-for="Trangthai" class="form-control"></select>
                <span asp-validation-for="Trangthai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cmnd" class="control-label"></label>
                <input asp-for="Cmnd" class="form-control" />
                <span asp-validation-for="Cmnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quyetdinh" class="control-label"></label>
                <input asp-for="Quyetdinh" class="form-control" />
                <span asp-validation-for="Quyetdinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nguoikyduyet" class="control-label"></label>
                <input asp-for="Nguoikyduyet" class="form-control" />
                <span asp-validation-for="Nguoikyduyet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateUpdate" class="control-label"></label>
                <input asp-for="DateUpdate" class="form-control" />
                <span asp-validation-for="DateUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateBy" class="control-label"></label>
                <input asp-for="UpdateBy" class="form-control" />
                <span asp-validation-for="UpdateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ghichu" class="control-label"></label>
                <input asp-for="Ghichu" class="form-control" />
                <span asp-validation-for="Ghichu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
